@model IEnumerable<Task1LoginRegister.Models.ProductVariant>

@{
    ViewData["Title"] = "Product Variants";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="text-primary">Product Variants</h2>
    </div>
    <div class="alert alert-info text-center">
        <h5 class="mb-3">Want to Add Attributes and values ?</h5>
        <a asp-action="Index" asp-controller="ProductAttributes" class="btn btn-info text-white btn-md"><i class="fas fa-box-open"></i> Go to Attributes Dashboard</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" id="variantTable">
            <thead class="table-dark">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Product)</th>
                    <th>@Html.DisplayNameFor(model => model.VarinatName)</th>
                    <th>@Html.DisplayNameFor(model => model.VarinatDescription)</th>
                    <th>@Html.DisplayNameFor(model => model.SKU)</th>
                    <th>@Html.DisplayNameFor(model => model.CostPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.ProfitPercentage)</th>
                    <th>@Html.DisplayNameFor(model => model.BasePrice)</th>
                    <th>@Html.DisplayNameFor(model => model.DiscountPercentage)</th>
                    <th>@Html.DisplayNameFor(model => model.FinalSellingPrice)</th>
                    <th>@Html.DisplayNameFor(model => model.StockQuantity)</th>
                    <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Product?.Name</td>
                        <td>@item.VarinatName</td>
                        <td>@item.VarinatDescription</td>
                        <td>@item.SKU</td>
                        <td>@item.CostPrice</td>
                        <td>@item.ProfitPercentage</td>
                        <td>@item.BasePrice</td>
                        <td>@item.DiscountPercentage</td>
                        <td>@item.FinalSellingPrice</td>
                        <td>@item.StockQuantity</td>
                        <td>
                            <button class="btn @(item.IsActive ? "btn-success" : "btn-danger") btn-sm toggle-status" data-id="@item.VariantId">
                                @(item.IsActive ? "Active" : "InActive")
                            </button>
                        </td>
                        <td>
                            <a class="btn btn-sm btn-warning mb-2" asp-action="Edit" asp-route-id="@item.VariantId" style="width:100%"><i class="fas fa-edit"></i> Edit</a>
                            <a class="btn btn-sm btn-info mb-2" asp-action="Details" asp-route-id="@item.VariantId" style="width:100%"><i class="fas fa-eye"></i> Details</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.VariantId" style="width:100%"><i class="fas fa-trash"></i> Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#variantTable').DataTable({
                responsive:true,
                autoWidth:false,
            });
        });
         $(document).on("click", ".toggle-status", function () {
            var button = $(this);
            var variantId = button.data("id");

            $.ajax({
                type: "Post",
                url: "@Url.Action("ToggleStatus", "ProductVariant")",
                data: { id: variantId },
                success: function (data) {
                    if (data.isActive) {
                        button.removeClass("btn-danger").addClass("btn-success").text("Active");
                    } else {
                        button.removeClass("btn-success").addClass("btn-danger").text("InActive");
                    }
                }
            });
        });
    </script>
}

