@model IEnumerable<Task1LoginRegister.Models.ProductVariant>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarinatName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarinatDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SKU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfitPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalSellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VarinatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VarinatDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SKU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CostPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProfitPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPercentage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalSellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StockQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VariantId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.VariantId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.VariantId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
